.headerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95px;
    box-shadow: 0 2px 6px 4px rgba(55,57,79,0.14);
    border: solid 1px #f0f0f0;
}

.headerContent img {
    height: 24px;
}